<table class="table table-hover">
    <thead>
        <tr>    
            <th scope="col">Nome</th>
            <th scope="col">URL</th>
            <th scope="col">Vezes Ouvida</th>
        </tr>
        <tbody>
            {{#each this}}
                <tr scope="row">
					<td><a href="#albums/{{mbid}}/tracks">{{name}}</a></td>
					<td><a href="{{url}}" target="_blank">{{url}}</a></td>
					<td>{{playcount}}</td>
                </tr>
            {{/each}}
        </tbody>
    </thead>
</table>