<table class="table table-hover">
    <thead>
        <tr>    
            <th scope="col">Nome</th>
            <th scope="col">URL Name</th>
            <th scope="col">Duração</th>
            <th scope="col">Nome Artista</th>
            <th scope="col">Nº Artista</th>
            <th scope="col">URL Artista</th> 
        </tr>
        <tbody>
            {{#each .}}
                <tr scope="row">
                    <td>{{name}}</td>
                    <td>{{url}}</td>
                    <td>{{duration}}</td>
                    <td>{{artist.name}}</td>
                    <td>{{artist.mbid}}</td>
					<td>{{artist.url}}</td>
                </tr>
            {{/each}}
        </tbody>
    </thead>
</table>